*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000F1C;
}

.page4{
    height: fit-content;
    width: fit-content;
    overflow: hidden;
}

.page4-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    column-gap: 15px;
}

.title img{
    width: 40px;
    height: auto;
}

.title h3{
    color: #FFFFFF;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1rem;
    position: relative;
    top: 0.25rem;
}

.timeline-container{
    width: 70%;
    margin: 4em auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1em;
    position: relative;
}

.exp-conteudo{
    border-left: 1px solid #e2e2e2;
    padding-left: 2em;
}

.exp-conteudo{
    display: grid;
    row-gap: .3em;
}

.ano, .ano2{
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-align: start;
    padding-left: 2em;
    position: relative;
}

.ano::before{
    content: "";
    width: 15px;
    height: 15px;
    background: #cdd2ff;
    border-radius: 50%;
    position: absolute;
    left: -.4em;
    top: 0.3rem;
}

.titulo-exp{
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4em;
}

.empresa-exp{
    color: #00C1F9;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.3em;
}

.descricao{
    color: #FFFFFF;
    text-align: justify;
    line-height: 1.8em;
    font-size: 17px;
}

#logo-cmd{
    width: 50px;
    border-radius: 50%;
}

#logo-uninorte{
    width: 150px;
}

#logo-farias{
    width: 60px;
}