
@media (max-width: 575.98px) {

    .page1-container{
        height: 100%;
    }

    .flags img{
        width: 20px;
        height: 20px;
    }

    .content{
        margin-top: 2em;
        gap: 75px;
    }
    
    .profile-picture img{
        width: 150px;
        height: 150px;
        border: 3px solid #00709d;
    }

    .title h1{
        font-size: 20px;
        line-height: 2em;
    }
    
    .title h4{
        letter-spacing: 2em;
        position: relative;
        left: .1em;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .content{
        margin-top: 2em;
        gap: 70px;
    }
    
    .profile-picture img{
        width: 160px;
        height: 160px;
        border: 3px solid #00709d;
    }

    .title h1{
        font-size: 25px;
        line-height: 2em;
    }
    
    .title h4{
        letter-spacing: 2.5em;
    }
}

@media (min-width: 768px){
    .content{
        height: 100%;
    }
}